@model IEnumerable<BigSchool.Models.ApplicationUser>

@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>

<div class="row" style="margin-top: 10px;">
    <ul class="course">
        @foreach (var follow in Model)
        {
            <li>
                <div>
                    <span>
                        @follow.Name
                    </span>
                    <br />
                    <span>
                        @follow.UserName
                    </span>
                </div>
                <div class="action">
                    <a href="#" class="js-cancel-follow" data-user-id="@follow.Id">Cancel</a>
                </div>
            </li>
        }
    </ul>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-cancel-follow").click(function (e) {
                e.preventDefault();
                var link = $(e.target);
                bootbox.confirm("Are you sure to unfollow ?",
                    function () {
                        $.ajax({
                            url: "/api/followings/" + link.attr("data-user-id"),
                            method: "DELETE"
                        })
                            .done(function () {
                                link.parents("li").fadeOut(function () {
                                    $(this).remove();
                                });
                            })
                            .fail(function () {
                                alert("Something failed!");
                            });
                    });
            });
        });
    </script>
}